body {
    background-color: white;
}

#config_tabel {
    float:right;
}

p {
    font-family: verdana;
    font-size: 20px;
}

input {
    display: flex; /* equal height of the children */
}

select {
    font-size: inherit;
    padding: 15px 32px;
    box-shadow:none;
    background:none;
    border-radius: 0px;
}

#absence_field {
    font-size: inherit;
    display: inline-block;
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px 32px;
}

#submit_btn {
    flex: 1; /* additionally, equal width */
    background-color: #e60000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    box-sizing: content-box;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 50%;
    
}
th, td {
    padding: 15px;
}
